@import "../../styles/index.scss";

.signup-container {
  background-image: url("../../assets/images/heroimage.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;

  .backgroundoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6531862745098039) 10%,
      rgba(30, 154, 106, 0.5551470588235294) 74%
    );
  }
  .sigup-data {
    position: absolute;
    margin: auto;
    width: 312px;
    height: fit-content;
    top: 15%;
    text-align: center;
   
    button {
      background-color: $primarycolor;
      color: $white;
      width: 280px;
      padding: 13px 40px;
      border-radius: 10px;
      font-size: 1rem; 
      margin-bottom: 1rem;
    }
    p {
      color: $white;
      font-size: 0.8rem;
       a {
        color: $primarycolor;
        text-decoration: underline;
      }
    }
  }
}
