@import "../../styles/index.scss";

.signin-container {
  background-image: url("../../assets/images/heroimage.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 642px;
  position: relative;

  .backgroundoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6531862745098039) 10%,
      rgba(30, 154, 106, 0.5551470588235294) 74%
    );
  }
  .sigin-data {
    position: absolute;
    margin: auto;
    width: 312px;
    height: fit-content;
    top: 15%;
    text-align: center;

    .signup-link {
      color: $primarycolor;
      text-decoration: underline;
    }
    .forgotpass {
      margin:auto;
      padding: 1rem;
      text-align: center;
      &-link {
        color: $white;
        text-decoration: none;
        font-size:  0.8rem;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    button {
      background-color: $primarycolor;
      color: $white;
      width: 280px;
      padding: 13px 40px;
      border-radius: 10px;
      font-size: 1rem;
      margin: 1rem 0;
    }
    p {
      color: $white;
      font-size: 0.8rem;
    }
  }
}
