@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static//Inter-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-ExtraBold.ttf");
    font-weight: 800;
  }