@import "../../styles/index.scss";

.input-form { 
  .input {
    text-align: center;
  }
  .email-form {
    padding: 15px 40px;
    color:$black; 
    background-image: url("../../assets/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 10px; 
    margin-bottom: 0.7rem;
    width: 200px; 
     
  }
  .password-form {
    padding: 15px 40px;
    color: $black;
    background-image: url("../../assets/icons/lock.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 10px; 
    margin-bottom: 0.7rem;
    width: 200px;
  }
   
}
